body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FF9100;
}

.section {
    background-color: #FF6500;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.logo {
    width: 20%;
}

.header {
    font-family: 'Lexend Tera';
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    clear: left;
    border-bottom: 2px solid white;
    padding: 20px;
    background-image: url(icons\LadrilhosFundo_filipeta.svg);
    background-position: center;
    background-repeat: repeat;
}

.navbar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #A64200;
    clear: left;
    border-bottom: 2px solid white;
}

.navbar ul li {
    list-style: none;
    float: left;
    margin-right: auto;
    margin-top: 0px;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-left: auto;
    text-align: center;
    width: 14%;
    padding: 10px;
    transition: all 0.3s linear;
  }

  .navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: all 0.3s linear;
  }

  .navbar li a:hover {
      cursor: pointer;
      color: red;
  }

  .selected {
      color: red;
  }

  .home_img {
      max-width: 100%;
      height: auto;
  }

  .menu_header {
      width: 50%;
  }

  h1 {
      font-size: 0px;
  }

  .day_select ul li {
      color: white;
      list-style-type: none;
  }

 .day_select li a{
     display: block;
     padding: 8px 16px;
     transition: all 0.3s linear;
 }

 .day_select li a:hover {
     cursor: pointer;
     color: red;
 }

 .day_select ul {
     background-color:;
 }



